{% extends 'home/b.html' %}

{% load staticfiles %}

{% block display%}
		<div class="container">

			<div class="main clearfix">
				<div class="bb-custom-wrapper">
					
					<div id="bb-bookblock" class="bb-bookblock">
						<div class="bb-item first">
							<div class="shadowR"></div>
							<img src="{% static 'cards/images/demo1/0.jpg' %}" alt="image01"/>

							<div class="child right">
							<div id="toolbar1">
							{% include 'cards/quill/toolbar_title.html' %}
							</div>

							<div id="div1">
							  <br>Happy Valentine!
							</div>

							</div>
						</div>
						<div class="bb-item">
							<div class="shadow"></div>
							<img src="{% static 'cards/images/demo1/1.jpg' %}" alt="image01"/>

							<div class="child left">
							<div id="toolbar3"> <!--change-->
							{% include 'cards/quill/toolbar_body.html' %}		
							</div>

							<div id="div3"> <!--change-->
							  <p>Quill uses classes for most inline styles.</p>
							  <p><br></p>
							  <p>The exception is <span class="ql-bg-yellow">background</span> and <span class="ql-color-purple">color</span>,</p>
							  <p>where it uses inline styles.</p>
							  <p><br></p>
							  <p>This <span style="font-size: 18px">demo</span> shows how to <span style="font-size: 32px">change</span> this.</p>
							  This demo shows how to change this.
						Retrieves the string contents of the editor. <br>
						Non-string content are omitted, so the returned
						﻿
							</div>
						</div>

						<div class="child right" id="dear">
							<div id="toolbar4"> <!--change-->
							{% include 'cards/quill/toolbar_body.html' %}		
							</div>

							<div id="div4"> <!--change-->
							  Dear Martha,
							</div>
						</div>

						<div class="child right bump-down">
							<div id="toolbar2">
							{% include 'cards/quill/toolbar_body.html' %}		
							</div>

							<div id="div2">
							  <p>Quill uses classes for most inline styles.</p>
							  <p><br></p>
							  <p>The exception is <span class="ql-bg-yellow">background</span> and <span class="ql-color-purple">color</span>,</p>
							  <p>where it uses inline styles.</p>
							  <p><br></p>
							  <p>This <span style="font-size: 18px">demo</span> shows how to <span style="font-size: 32px">change</span> this.</p>
									This demo shows how to change this.
									Retrieves the string contents of the editor. <br>
									Non-string content are omitted, so the returned
							</div>
						</div>


						


						

						</div>

						<div class="bb-item last">
							<div class="shadowL"></div>
							<img src="{% static 'cards/images/demo1/7.jpg' %}" alt="image05"/>
						</div>
					</div>

					<nav>
						<a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left">Previous</a>
						<a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right">Next</a>
					</nav>
				</div>
			</div>
		</div>
		<!-- /container -->
{% endblock %}