<!DOCTYPE html>
<html lang="en" class="no-js demo-1">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Bizzybd Cards</title>
		<meta name="description" content="Bookblock: A Content Flip Plugin - Demo 1" />
		<meta name="keywords" content="javascript, jquery, plugin, css3, flip, page, 3d, booklet, book, perspective" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link href="https://cdn.quilljs.com/1.2.0/quill.snow.css" rel="stylesheet">
		<script src="https://cdn.quilljs.com/1.2.0/quill.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Bilbo+Swash+Caps|Italianno|Montez|Nothing+You+Could+Do|Reenie+Beanie|Sacramento|Tangerine" rel="stylesheet">


	
  	{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'cards/css/default.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cards/css/bookblock.css' %}" />
		<!-- custom demo style -->
		<link rel="stylesheet" type="text/css" href="{% static 'cards/css/demo1.css' %}" />
		<script src="{% static 'cards/js/modernizr.custom.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'cards/mycss.css' %}">

	
	</head>
	<body>
		<div class="container">

			<div class="main clearfix">
				<div class="bb-custom-wrapper">
					
					<div id="bb-bookblock" class="bb-bookblock">
						<div class="bb-item first">
							<div class="shadowR"></div>
							<img src="{% static 'cards/images/demo1/0.jpg' %}" alt="image01"/>

							<div class="child right">

							{% include 'cards/quill/toolbar_title.html' %}



							<div id="title-container">
							  HAPPY VALENTINE!
							</div>

							</div>
						</div>
						<div class="bb-item">
							<div class="shadow"></div>
							<img src="{% static 'cards/images/demo1/1.jpg' %}" alt="image01"/>


							<div class="child right">
							<div id="toolbar-container">
							{% include 'cards/quill/toolbar_body.html' %}		
							</div>

							<div id="editor-container">
							  <p>Quill uses classes for most inline styles.</p>
							  <p><br></p>
							  <p>The exception is <span class="ql-bg-yellow">background</span> and <span class="ql-color-purple">color</span>,</p>
							  <p>where it uses inline styles.</p>
							  <p><br></p>
							  <p>This <span style="font-size: 18px">demo</span> shows how to <span style="font-size: 32px">change</span> this.</p>
							  This demo shows how to change this.
						Retrieves the string contents of the editor. <br>
						Non-string content are omitted, so the returned
						﻿
							</div>
							</div>



							<div class="child left">
							<div id="toolbar-container3"> <!--change-->
							{% include 'cards/quill/toolbar_body.html' %}		
							</div>

							<div id="editor-container3"> <!--change-->
							  <p>Quill uses classes for most inline styles.</p>
							  <p><br></p>
							  <p>The exception is <span class="ql-bg-yellow">background</span> and <span class="ql-color-purple">color</span>,</p>
							  <p>where it uses inline styles.</p>
							  <p><br></p>
							  <p>This <span style="font-size: 18px">demo</span> shows how to <span style="font-size: 32px">change</span> this.</p>
							  This demo shows how to change this.
						Retrieves the string contents of the editor. <br>
						Non-string content are omitted, so the returned
						﻿
							</div>
							</div>

						</div>

						<div class="bb-item last">
							<div class="shadowL"></div>
							<img src="{% static 'cards/images/demo1/7.jpg' %}" alt="image05"/>
						</div>
					</div>

					<nav>
						<a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left">Previous</a>
						<a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right">Next</a>
					</nav>
				</div>
			</div>
		</div>
		<!-- /container -->



		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="{% static 'cards/js/jquerypp.custom.js' %}"></script>
		<script src="{% static 'cards/js/jquery.bookblock.js' %}"></script>
		<script src="{% static 'cards/js/turn.js' %}"></script>
		<script>
				Page.init();
		</script>

		<script src="{% static 'cards/js/custom_quill.js' %}"></script>
	</body>
</html>