/* BOOK CSS*/
.bb-item{
	position: relative;
}

/*.first{
	box-shadow: 100px 120px 30px -110px rgba(81,64,49,0.6);
}*/

.shadow{
	box-shadow: 0 12px 20px -10px rgba(81,64,49,0.6);
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: -10;
}

.shadowL{
	box-shadow: 0 12px 20px -10px rgba(81,64,49,0.6);
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 50%;
	z-index: -10;
}
.shadowR{
	box-shadow: 0 12px 20px -10px rgba(81,64,49,0.6);
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	width: 50%;
	z-index: -10;
}

.child{
	position: absolute;
	width: 360px;
}
.left{
	position: absolute;
	top: 0px;
	left: 0px;
}
.right{
	position: absolute;
	top: 0px;
	right: 0px;
}










/* QUILL CSS*/
#total-container{
	width: 36%;
}
#editor-container {
  height: 50%;
  width: 100%;
  font-family: 'Montez', cursive;
  font-size: 1.3em;
}
#toolbar-container{
	width: 100%;
}

span{
	border-radius: 5px;
}

div#editor-container {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

div#editor-container:active

div#toolbar-container {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/*Adding new font*/
/*TAKE THAT FUCKER!! SELECTED FONT USING DATA VALUE*/

[data-value="georgia"], .ql-font-georgia {
	font-family: 'Georgia', sans-serif;
	font-size: .75em;
	text-align: center;
}
[data-value="Tangerine"], .ql-font-Tangerine {
	font-family: 'Tangerine', cursive;
	font-size: 1.4em;
	text-align: center;
}
[data-value="Sacramento"], .ql-font-Sacramento {
	font-family: 'Sacramento', cursive;
	font-size: 1.3em;
	text-align: center;
}
[data-value="Nothing"], .ql-font-Nothing {
	font-family: 'Nothing You Could Do', cursive;
	font-size: .8em;
	text-align: center;
}
[data-value="Reenie"], .ql-font-Reenie {
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.1em;
	text-align: center;
}
[data-value="Annie"], .ql-font-Annie {
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 1em;
	text-align: center;
}
[data-value="Montez"], .ql-font-Montez {
	font-family: 'Montez', cursive;
	font-size: 1.3em;
	text-align: center;
}
[data-value="Bilbo"], .ql-font-Bilbo {
	font-family: 'Bilbo Swash Caps', cursive;
	font-size: 1.1em;
	text-align: center;
}

#title-container{
  height: 50%;
  width: 100%;
  color: black;
  font-family: 'Montez', cursive;
  font-size: 4em;
}

.ql-container{
	border: none;
}

.ql-container:focus {
	border: 1px solid grey;
}