/*body {
    margin: 0;
    padding: 0px;
}*/

.container{
    margin: 0;
    padding: 0;
}



@media screen and (min-width: 1200px){
    .container{
        width:100%;
    }
}

@media (min-width: 992px){
    .container {
        width: 100%;
    }
}

@media (min-width: 768px){
    .container {
        width: 100%;
    }
}

ul.topnav {
    width:100%;
    min-height: 100px;
    list-style-type: none;
    text-align: center;
    top:0;
    left:0;
    overflow: hidden;
    background: transparent;
    position: fixed;
    
/*    -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;*/

/*    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;*/

}

/*ul.topnav.shrink {
  min-height: 35px;
}*/

ul.topnav li {
    display: inline-block;
    margin: 0;
    margin-top: 35;
    float: none;
}

ul.topnav li a {
    color: #373232;
    padding: 20px 40px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

ul.topnav li a:hover {
    color: #000;
    background-color: transparent;
}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width:768px) {
    ul.topnav li:not(:nth-child(3)) {
        display: none;
    }

    ul.topnav li:nth-child(3){
        float: left;
    }

    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:768px) {
    ul.topnav.responsive {
        position: relative;
        padding: 100px;
        /*margin-top: 80px;*/
    }

    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
        float: left;
        margin-top: 15px;
    }

    ul.topnav.responsive li {
        float: none;
        display: inline;
        margin: 0;

    }

    ul.topnav.responsive li:nth-child(3){
        float: left;
        margin-top: -221px;
        margin-left: -100px;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: center;    
    }
}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
        float: left;
    }

    ul.topnav.responsive li:nth-child(3){
        display: none;
    }

    ul.topnav.responsive li {
        /*position: relative;*/
        float: none;
        display: inline;
        margin: 0;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: center;
        margin-top: 50;
    }
}


/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 
    ul.topnav li:not(:nth-child(3)) {
        display: none;
    }

    ul.topnav li:nth-child(3){
        float: left;
    }

    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}



