body {
    margin:0;
}

.container{
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1200px){
    .container{
        width:100%;
    }
}

@media (min-width: 768px) and (max-width: 979px){
    .container{
        width:100%;
    }
}

@media (max-width: 767px){
    .container {
        width: 100%;
    }
}

@media (max-width: 480px){
    .container {
        width: 100%;
    }
}

ul.topnav {
    min-height: 100px;
    list-style-type: none;
    text-align: center;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
/*    background-color: #e5e5e5;*/

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

}

ul.topnav li {
    display: inline-block;
    margin: 0;
    margin-top: 35;
    float: none;
}

ul.topnav li a {
    color: #373232;
    padding: 20px 40px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

ul.topnav li a:hover {
    color: #000;
    background-color: transparent;
}

ul.topnav li.icon {
    display: none;
}

/*For Landscape*/
@media (max-width: 767px){
    ul.topnav {
    min-height: 100px;
    list-style-type: none;
    text-align: center;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
/*    background-color: #e5e5e5;*/

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

}

ul.topnav li {
    display: inline-block;
    margin: 0;
    margin-top: 35;
    float: none;
}

ul.topnav li a {
    color: #373232;
    padding: 10px 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

ul.topnav li a:hover {
    color: #000;
    background-color: transparent;
}

ul.topnav li.icon {
    display: none;
}

}

@media screen and (max-width:480px) {
    ul.topnav li:not(:nth-child(3)) {
        display: none;
    }

    ul.topnav li:nth-child(3){
        float: left;
    }

    ul.topnav li.icon {
        float: right;
        display: inline-block;
        
    }
}

@media screen and (min-width: 480px){
    .res-logo{
        display: none;
    }
}

@media screen and (max-width:480px) {
    #logo{
        display: none;
    }

    ul.topnav.responsive {
        position: fixed;
        padding: 100px;
        padding-bottom: 20px;
    }


    ul.topnav.responsive li {
        float: none;
        display: inline;
        margin: 0;

    }

    ul.topnav.responsive li a {
        display: block;
        text-align: center;    
    }
}


