body{
	background: red; 
	background: -webkit-linear-gradient(45deg,black, rgb(2, 42, 103), black);
	background: -o-linear-gradient(45deg,black, rgb(2, 42, 103), black); 
	background: -moz-linear-gradient(45deg,black, rgb(2, 42, 103), black); 
	background: linear-gradient(45deg, black, rgb(2, 42, 103), black); 
	color: white;
}

img {
  pointer-events: none;
} 


#mypic{
  width: 40%;
  float: left;
  margin: 10px;
}

.image.main {
  padding: 0;
}