<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Page title
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <title>Bizzy Ltd.</title>

    {% load staticfiles %}

    <!-- Materialize
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!-- <link rel="stylesheet" href="{% static 'special_subdomain/teacher/assets/materialize.css' %}"> -->

    <!-- Favicon -->
    <link href="{% static 'special_subdomain/teacher/assets/favicon.png' %}" rel="shortcut icon" />
    <link href="{% static 'special_subdomain/teacher/assets/apple-touch-icon.png' %}" rel="apple-touch-icon" />

    <!-- Google fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700|Lora:400" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- image+text+file
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% if edit_mode %}
    <link rel="stylesheet" href="{% static 'special_subdomain/teacher/assets/slim/slim.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'special_subdomain/teacher/assets/css/slim.css' %}"> -->
    {% endif %}



    <!-- ckeditor -->
    <!-- <link href="http://sdk.ckeditor.com/theme/css/sdk-inline.css" rel="stylesheet"> -->

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="{% static 'special_subdomain/teacher/assets/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'special_subdomain/teacher/assets/css/wow.css' %}" rel="stylesheet">
    <link href="{% static 'special_subdomain/teacher/assets/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'special_subdomain/teacher/assets/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'special_subdomain/teacher/assets/css/owl.theme.default.css' %}" rel="stylesheet">
    <link href="{% static 'special_subdomain/teacher/assets/css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'special_subdomain/teacher/assets/css/masum.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    <script type="text/javascript" src="{% static 'special_subdomain/teacher/assets/js/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'special_subdomain/teacher/assets/js/jquery-2.1.1.js' %}"></script>

    <!-- ckeditor cdn -->
    <!-- <script src="http://cdn.ckeditor.com/4.6.2/standard-all/ckeditor.js"></script> -->

</head>

<!-- Body Start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<body>
{% if edit_mode != True %}
    <div id="editbtn" class="fixed-action-btn horizontal">
        <a class="btn-floating  btn-large waves-effect waves-light pulse red" href="edit" target="_blank">
            <i class="large material-icons">mode_edit</i>
        </a>
    </div>
{% endif %}

    <div id="preloader"></div>
    <!-- Header Start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Mobile Header Start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div id="nav-icon"> <span></span> <span></span> <span></span> </div>
    <div id="headMobile" align='right'>
        <h2 class="site-title">{{ website.div2|safe }}</h2>
    </div>

    <!-- Mobile Header End
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <header id="headerBar">
        <div class="col-left">
            <div>

                <figure>
                    {% if edit_mode %}
                    <div id="profile" class="slim" data-service="/ajax/slim/" data-will-request="ajaxSetup"  data-meta-div_id={{ website.div1.id }}>
                        <!-- <img src="{% static 'special_subdomain/teacher/assets/images/azadsir.png' %}"> -->
                        <img src="{{ website.div1.image.url }}">

                        <input type="file" />

                    </div>
                    {% else %} {% load static %}
                    <img id="profile" src="{{ website.div1.image.url }}"> {% endif %}
                </figure>
            </div>

            <div id="div{{website.div2.id}}" contenteditable="true">
                <h3 class='color'>{{ website.div2|safe }}</h3>
            </div>
            <div>
                <ul id="nav">
                    {% for page in pages %}
                      <li ><a href="#{{page}}">{{page}}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="social">
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-dribbble" aria-hidden="true"></i></a>
            </div>
        </div>
    </header>

    <div id="wraper">



    <!-- This form is needed to send post request to the server -->
    <form action="/ajax/div/" method="post" id='ajax_div_form' name="form">
      {% csrf_token %}
    </form>
    {% csrf_token %}

        {% for page in full_pages %}
            {{ page|safe }}
        {% endfor %}







        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <p>COPYRIGHT © <a href="www.bizzybd.com" target="_blank">Bizzy Ltd</a>. 2017. ALL RIGHTS RESERVED.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!--  Footer End
     –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        </div>
        <!--END wraper -->



        <script type="text/javascript" src="{% static 'special_subdomain/teacher/assets/js/queryloader2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'special_subdomain/teacher/assets/js/title-animated.js' %}"></script>
        <!-- Resource jQuery -->
        <script type="text/javascript" src="{% static 'special_subdomain/teacher/assets/js/jquery.nav.js' %}"></script>
        <script type="text/javascript" src="{% static 'special_subdomain/teacher/assets/js/jquery.appear.js' %}"></script>
        <script type="text/javascript" src="{% static 'special_subdomain/teacher/assets/js/owl.carousel.js' %}"></script>
        <script type="text/javascript" src="{% static 'special_subdomain/teacher/assets/js/jquery-parallax.js' %}"></script>

        <!-- PROBLEM -->
        <!-- <script type="text/javascript" src="{% static 'special_subdomain/teacher/assets/js/jquery.filterizr.js' %}"></script>  -->

        <script type="text/javascript" src="{% static 'special_subdomain/teacher/assets/contact-form/js/validator.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'special_subdomain/teacher/assets/contact-form/js/form-scripts.js' %}"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDs3mrTgrYd6_hJS50x4Sha1lPtS2T-_JA"></script>
        <script type="text/javascript" src="{% static 'special_subdomain/teacher/assets/js/function.js' %}"></script>



        <!-- Slim + CKEditor scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

        {% if edit_mode %}
        <script src="{% static 'special_subdomain/teacher/assets/ckeditor/ckeditor.js' %}"></script>
        <!-- <script src="http://cdn.ckeditor.com/4.6.2/full/ckeditor.js"></script> -->
        <script src="{% static 'special_subdomain/teacher/assets/slim/slim.kickstart.min.js' %}"></script>
        {% endif %}


        <!-- Image picker+dynamic div -->
        <!-- <script src="{% static 'special_subdomain/teacher/assets/js/masum.js' %}"></script> -->

        <!-- Materialize -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

        <!-- Tiny color picker -->
        <!-- <script type="text/javascript" src="{% static 'special_subdomain/teacher/assets/tinyColorPicker/jqColorPicker.min.js' %}"></script> -->


        <script type="text/javascript">
            //color_picker code
            // $('.color').colorPicker( /* optinal options */ );
            // $('#headerBar').colorPicker();

        </script>



        {% if edit_mode != True %}





        <script type="text/javascript">
            $("*[contenteditable='true']").attr('contenteditable', 'false');

        </script>

        {% else %}

        <script type="text/javascript">
            
            function ajaxSetup(xhr){
                xhr.setRequestHeader('X-CSRFToken', "{{csrf_token}}");
                console.log("Ajax has been set up");
            }
        </script>
        <script src="{% static 'ajax_requests/django_ajax_setup.js' %}"></script>
        <script type="text/javascript">
            (function() {
                var idList = $('div[contenteditable="true"]');
                var ready = [];
                var editor = [];
                var ajax_url =  "/ajax/div/";
                //console.log(idList[0].id);
                console.log("Edited");
                for (var i = 0; i < idList.length; i++) {
                    ready.push(true);
                    var ed = CKEDITOR.inline(idList[i].id);
                    var div_id = ed.name.substr(3);
                    // console.log(div_id);
                    var ck = {
                        'editor': ed,
                        'num': i,
                        'div_id': div_id,
                    };
                    // ck.id = ck.editor.name.substr(3);
                    editor.push(ck);
                    console.log(editor[i].editor.name);
                    // console.log(editor[i].div_id);
           
                }

                // for(i = 0; i < editor.length; i++){
                //   console.log(editor[i]);
                //   editor[ i ].editor.on('change', function() {
                //       send(editor[ i ].editor, editor[ i ].num);

                //   });
                //   console.log("event added");
                // }

                function send(editor, num, time) {
                    if (ready[num]) {
                        ready[num] = false;
                        setTimeout(function() {
                            //INSERT AJAX FUNCTION HERE

                            var today = new Date();
                            var h = today.getHours();
                            var m = today.getMinutes();
                            var s = today.getSeconds();
                            console.log(editor.name + " saved at " + h + ":" + m + ":" + s);
                            // console.log(editor.getData());
                            // console.log("printing id");
                            // console.log(editor.div_id);

                            $.ajax({
                                    "type"     : "POST",
                                    "data"   : {'div_id': editor.div_id, 'text': editor.editor.getData()},
                                    // "data"   : $("#form_id_{{div.id}}").serialize(),
                                    "url"      : ajax_url,
                                    "dataType" : "json",
                                    "cache"    : false,
                                    "success"  : function(json) {
                                        // console.log("\n\n ajax successful");
                                        // console.log(json);
                                        ready[num] = true;
                                        Materialize.toast("Saved Successfully! :)", 1000);

                                    },
                                    error: function(xhr, textStatus, errorThrown){
                                       console.log('Sending ajax request again in ' + time * 2);
                                       send(editor, editor.num, time * 2);
                                       Materialize.toast("Sorry! :( Could not save. Retrying again.", 1000);
                                    }


                            });
                            ready[num] = true;

                        }, time);
                    }
                }

               
                //HACKING A HARDCODED LOOP IN DJANGO. FOR EACH ADDED NUMBER OF DIV, ADD AN 'x' HERE
                {% for i in  div_count_str  %}
                    editor[ {{ forloop.counter0 }} ].editor.on('change', function() {
                        send(editor[ {{ forloop.counter0 }} ], editor[ {{ forloop.counter0 }} ].num, 5000);
                    });
                {% endfor %}


            })();

        </script>
        {% endif %}

</body>

</html>
