appdirs==1.4.0
defusedxml==0.4.1
Django==1.10.5
django-debug-toolbar==1.6
django-hosts==2.0
django-subdomains==2.1.0
gunicorn==19.6.0
oauthlib==2.0.1
olefile==0.44
packaging==16.8
Pillow==4.0.0
PyJWT==1.4.2
pyparsing==2.1.10
python-social-auth==0.2.21
python3-openid==3.0.10
requests==2.12.4
requests-oauthlib==0.7.0
six==1.10.0
social-auth-core==1.0.1
sqlparse==0.2.2
