<!DOCTYPE html>
<html>
<head>
  <title>CKEditor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <script src="https://use.fontawesome.com/552f4c2307.js"></script> -->



  {% load staticfiles %}

	<script src="{% static 'common/editor/ckeditor.js' %}"></script>

	<!-- <script src="http://cdn.ckeditor.com/4.6.2/full-all/ckeditor.js"></script> -->
	<!-- <script src="config.js"></script> -->

	<style type="text/css">
		div{
			width: 96%;
			margin: 10px;
			padding-left: 5px;
			font-family: Georgia;
		}
	</style>


</head>
<body>


<!--     {% for div in divs %}
		  <br><br><br>
		  <form action="" method="post">
  		{% csrf_token %}
				<textarea id="{{ div.id }}" contenteditable="true">
						{{ div }}
				</textarea>
			</form>
		  <br><br><br>
	{% endfor %} -->


    {% for f in formset %}
		  <br><br><br>
		  <form action="/ajax_request/div/" method="post" id='form_id_{{f.id.value}}' name="form">
  		{% csrf_token %}
				<textarea id="{{ f.id.value }}" contenteditable="true">
						{{ f.name.value }}
				</textarea>
<!-- 				{{ f.name }} -->
			</form>
		  <br><br><br>
		{% endfor %}




   <script src="http://malsup.github.com/jquery.form.js"></script> 
	<script src="{% static 'ajax_requests/django_ajax_setup.js' %}"></script>
	<script type="text/javascript">

    {% for div in divs %}
    		var editor{{div.id}} = CKEDITOR.inline('{{ div.id }}');
				editor{{div.id}}.on( 'change', function( evt ) {
				// // console.log( 'Total bytes: ' + evt.editor.getData() );
        var ajax_url =  "/ajax_request/div/";
        console.log("\n serialize value");
        console.log($("#form_id_{{div.id}}"));
        var a = $("#form_id_{{div.id}}").serialize();
        console.log(a);
        console.log("serialize printing over\n");
			  $.ajax({
			          "type"     : "POST",
			          "data"	 : {'div_id': {{div.id}}, 'text': evt.editor.getData()},
			          // "data"   : $("#form_id_{{div.id}}").serialize(),
			          "url"      : ajax_url,
			          "dataType" : "json",
			          "cache"    : false,
			          "success"  : function(json) {
			          	  console.log("\n\n ajax successful");
			          	  console.log(json);
			          }           
			  });











			 // $("#form_id_{{div.id}}").ajaxForm({url: '/ajax_request/div/', type: 'post'});
			 // console.log("form has been submitted");


				});

		{% endfor %}
	</script>

</body>
