<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>Slim Examples</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'common/slim/css/slim.min.css' %}">

    <style>
        /* center main column */
        html {
            font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        main {
            max-width:400px;
            margin:0 auto;
        }
    </style>

</head>
<body>

<main>


    {% csrf_token %}

    {{ csrf_token }}

    <h1>Examples</h1>

    <h2>Async</h2>

    <h3>Upload new image</h3>

    <div class="slim" data-service="/ajax_request/slim/async/" data-will-request="ajaxSetup">
        <input type="file"/>
    </div>


    <h3>Upload and edit existing image</h3>

    <div class="slim" data-service="async.php" id="my-cropper">
        <input type="file"/>
        <!-- <img src="/media/slim/dune.jpg" alt=""> -->
<!--         <img src="{% static 'common/slim/media/dune.jpg' %}" alt=""> -->
        <img src="{{ div.image.url }}" alt="">
    </div>

    <button id="remove-button" type="button">Remove image</button>

    <script>

        // load this code when the document has loaded
        document.addEventListener('DOMContentLoaded', function() {

            // get a reference to the remove button
            var button = document.querySelector('#remove-button');

            // listen to clicks on the remove button
            button.addEventListener('click', function() {

                // get the element with id 'my-cropper'
                var element = document.querySelector('#my-cropper');

                // find the cropper attached to the element
                var cropper = Slim.find(element);

                // call the remove method on the cropper
                cropper.remove();

            });


        });

    </script>


    <h3>Edit existing image only</h3>

    <div class="slim" data-service="async.php">
        <img src="{% static 'common/slim/media/dune.jpg' %}" alt="">
    </div>


    <h3>Upload and remove images</h3>

    <script>
        function handleImageRemoval(data) {

            // can't continue without server file name
            if (!data.server) { return; }

            // setup request and send
            var name = data.server.file;
            var url = './async-remove.php';
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url + (url.indexOf('?')===-1?'?':':') + 'name=' + name, true);
            xhr.send();

        }
    </script>

    <div class="slim" data-service="async.php" data-did-remove="handleImageRemoval">
        <input type="file"/>
    </div>

    <h2>Sync</h2>

    <form action="sync.php" method="post" enctype="multipart/form-data">

        <div class="slim">
            <input type="file"/>
        </div>

        <button type="submit">Upload</button>

    </form>

</main>

<script type="text/javascript">
    
    function ajaxSetup(xhr){
        xhr.setRequestHeader('X-CSRFToken', "{{csrf_token}}");
        console.log("Ajax has been set up");
    }
</script>



<!-- slim.jquery.min.js -->
<script src="{% static 'common/slim/js/slim.kickstart.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- for making ajax request to server and set up csrf token with dajngo -->
<script src="{% static 'ajax_requests/django_ajax_setup.js' %}"></script>

</body>
</html>