#profile{
/*	height: 200px;*/
	margin-top: 10%;
	width: 90%;
	margin-left: 5%;
	border-radius: 10px;
}


/*Glowing border for the cross button*/
#nav-icon.open span{ 
	box-shadow: 0 0 5px white;
}

.col-left{
	position: absolute;
	width: 100%;
} /*added for slim error*/


#home .content{
	 height: 100%;
	 width: 100%;
	 /*margin: 2%;*/
	 /*background-color: rgba(255,255,255,.65);*/
	 background-color: rgba(0,0,0,.5);
	 /*border-radius: 10px;*/
}

.resume{
	min-height: 100vh;
}

.container-fluid div, .container-fluid h2{
	padding: 10px;
}

*[contenteditable="true"] { 
	outline: none;
    border-radius: 7px;
    margin: 2px;
    /*border: 2px solid white;*/
    border-color: #9ecaed;
   
}

*[contenteditable="true"]:focus {
    /*border: 2px solid #9ecaed;*/
    outline: none;
    margin: 2px;
    box-shadow: 0 0 10px #9ecaed;
}

