	


<button class="ql-bold"></button>
<button class="ql-italic"></button>
<button class="ql-underline"></button>

<span class="ql-formats">
  <select class="ql-color">
    <option selected></option>
    <option value="red"></option>
    <option value="orange"></option>
    <option value="yellow"></option>
    <option value="green"></option>
    <option value="blue"></option>
    <option value="purple"></option>
    <option value="rgb(100, 100, 100)"></option>
  </select>
  <select class="ql-background">
    <option selected></option>
    <option value="rgba(0,0,255, .5)"></option>
    <option value="red"></option>
    <option value="orange"></option>
    <option value="yellow"></option>
    <option value="green"></option>
    <option value="blue"></option>
    <option value="purple"></option>
  </select>
</span>

<span class="ql-formats">
  <select class="ql-font">
    <option value="georgia">Georgia</option>
    <option value="Tangerine">Noble</option>
    <option value="Montez" selected>Disney</option>
    <option value="Sacramento">Twingly</option>
    <option value="Nothing">Doctor</option>
    <option value="Reenie">Reenie</option>
    <option value="Annie">Anna</option>
    <option value="Bilbo">Bilbo</option>
</select>

  <select class="ql-size">
    <option value="10px">Tiny</option>
    <option value="18px">Small</option>
    <option selected>Normal</option>
    <option value="32px">Large</option>
  </select>
</span>							  
