<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1 align="center"> BizzyBd Home Page From docker compose</h1> 
<h1 align="center">{{ title }}</h1>




  <div class="reg-page">
      <div class="reg-header">
          <h2>Login to your account</h2>
      </div>

      <a href="{% url 'social:begin' 'google-oauth2' %}?next=/mysite"
         class="no-hover-text-decoration">
          <button class="btn btn-block btn-googleplus margin-bottom-10">
              <i class="fa fa-google"></i> Login With Google
          </button>

      </a>

      <a href="{% url 'social:begin' 'facebook' %}?next=/mysite" class="no-hover-text-decoration">
          <button class="btn btn-block btn-facebook margin-bottom-10">
              <i class="fa fa-facebook"></i> Login With Facebook
          </button>
      </a>
  </div>


  {% if user.is_authenticated %}
        
    <li>
        <a href="{% url 'auth:logout' %}?next={{ request.path }}">
            LOGOUT</a>
    </li>
  
  {% else %}
      <h1> Not logged in</h1> 
  {% endif %}

{{ request.get_host }}




</body>
</html>
